# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

dist
**/build/custom-elements.json

.DS_Store
.astro
.env
.cache
coverage
.idea
*.log
.firebase
.vscode
pnpm-local-overrides.json
.qti-components-packs
.pnpm-store

*storybook.log
storybook-static
hosting/*
apps/editor/public/r

.claude/settings.json
.claude/claude.log
.claude/claude-error.log
.claude/claude-debug.log